<h1>Omnibuser</h1>
<%= form_tag do %>
<%= text_field_tag(:q) %>
<%= submit_tag("Get") %>
<br>
<%= select_tag(:ext, options_for_select(['html', 'mobi', 'epub', 'pdf'])) %>
<% end %>

<% if @doc_id %>
<%= link_to "Download file", "/documents/#{@doc_id}", method: :post %>
<% end %>
<% flash.each do |name, msg| -%>
<%= content_tag :div, msg, class: name %>
<% end -%>

<% if @request && @request.errors.any? %>
<div id="error_explanation">
  <ul>
    <% @request.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div id="supported_sites">
  <h3> Supported sites</h3>
  <ul>
    <li>fanfiction.net</li>
    <li>fictionpress.com</li>
    <li>forums.spacebattles.com</li>
    <li>forums.sufficientvelocity.com</li>
    <li>forums.questionablequesting.com</li>
  </ul>
</div>
