
<div class="main_content">
  <h1>Convert your favourite online fiction into a convenient ebook!</h1>

  <div id="form">
    <%= form_tag do %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Get", class: 'button') %>
    <br>
    <%= label_tag(:ext, "Select ebook file type:")%>
    <%= select_tag(:ext, options_for_select(['html', 'mobi', 'epub', 'pdf']), class:'dropdown') %>
    <% end %>
  </div>

  <% if @doc_id %>
  <%= link_to "Download file", "/documents/#{@doc_id}", method: :post %>
  <% end %>
  <% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
  <% end -%>

  <% if @request && @request.errors.any? %>
  <div id="error-explanation">
    <ul>
      <% @request.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div id="description">
    <p> Enter a link to the story in the box above, select the file type you want for the ebook, and hit Get.</p>
  </div>

</div>
