<!DOCTYPE html>
<html>
  <head>
    <title>Omnibuser</title>
    <%= csrf_meta_tags %>
    <link rel="icon" href="images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  </head>

  <body style="background: image-url('books.jpg') no-repeat fixed 100%;
  background-size: cover;">
    <%= render 'shared/header' %>
    <div id="wrapper">
    </div>
    <%= yield %>
    <%= render 'shared/footer' %>

  </body>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= render partial: "shared/google_analytics"%>
</html>
