<!DOCTYPE html>
<html>
  <head>
    <title>Omnibuser</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div id="wrapper">
    </div>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
