<!DOCTYPE html>
<html>
  <head>
    <title>Omnibuser</title>
    <%= csrf_meta_tags %>
    <link rel="icon" href="images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div id="wrapper">
    </div>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
